$sizing: (
  16: 16px,
  24: 24px,
  32: 32px,
  40: 40px,
  48: 48px,
  56: 56px,
  64: 64px,
  72: 72px,
  80: 80px,
  88: 88px,
  96: 96px,
);

$text-colors: (
  offset: #737d8c,
);

$bg-colors: (
  white-smoke: #f5f5f5,
);

@each $size, $value in $sizing {
  .w-#{$size} {
    width: $value;
  }

  .h-#{$size} {
    height: $value;
  }
}

@each $color, $value in $text-colors {
  .text-#{$color} {
    color: $value;
  }
}

@each $color, $value in $bg-colors {
  .bg-#{$color} {
    background: $value;
  }
}

.min-h-screen {
  min-height: 100vh;
}

.card-hover {
  transition: all;
  transition-duration: 200ms;
}

.card-hover:hover {
  transform: translateY(-16px);
}
