<div class="min-vh-100 bg-white-smoke">
  <div class="bg-primary pb-5 min-vh-50 d-flex flex-column justify-content-end">
    <div class="container">
      <h1 class="text-white">Encontre o seu próximo frete</h1>
      <p class="text-white">
        Encontre os melhores prestadores de serviço pelos menores preços
      </p>
    </div>
  </div>
  <div class="container" style="margin-top: -25px">
    <form class="input-group input-group-lg" [formGroup]="searchForm">
      <input
        type="text"
        class="form-control shadow-sm"
        placeholder="CEP de origem"
        formControlName="origin"
        [imask]="{ mask: '00000-000' }"
      />
      <input
        type="text"
        class="form-control shadow-sm"
        placeholder="CEP de destino"
        formControlName="destination"
        [imask]="{ mask: '00000-000' }"
      />
      <input
        type="text"
        class="form-control shadow-sm cursor-pointer"
        placeholder="Data"
        [imask]="{ mask: '00/00/0000' }"
        [minDate]="minDate"
        bsDatepicker
      />
    </form>
    <button
      class="btn btn-primary btn-lg col-12 mt-3 shadow-sm"
      (click)="searchForProfessionals()"
    >
      Buscar
    </button>
  </div>
</div>
