<div class="card" style="width: 18rem">
  <!-- <img src="..." class="card-img-top" alt="..." /> -->
  <div class="card-body">
    <h5 class="card-title">{{ professional.preferredName }}</h5>
    <div class="mb-3">
      <p class="mb-0">
        Valor base: {{ professional.baseValue | currency : 'BRL' }}
      </p>
      <p class="mb-0">
        Valor por Km: {{ professional.valuePerKm | currency : 'BRL' }}
      </p>
    </div>
    <p class="badge bg-primary">
      {{ professional.totalValue | currency : 'BRL' }}
    </p>
    <button class="d-block btn btn-primary w-100" (click)="navigateToResult()">
      Ver detalhes
    </button>
  </div>
</div>
