<form [formGroup]="professionalRegistrationForm">
  <h3 class="mb-3">Cadastro de profissional autônomo (pessoa física)</h3>
  <p class="text-offset small">
    A Me Vê um Frete possui foco em dar visibilidade a profissionais autônomos.
    Sendo assim, você não precisa de um CNPJ para começar. Ainda assim, vale
    ressaltar que a plataforma é apenas uma intermediadora.
    <strong>Mantenha-se de acordo com as leis locais.</strong>
  </p>

  <div class="row d-flex align-items-end mb-3 mt-4">
    <div class="container col-md-10 mb-md-0 mb-3">
      <div class="form-label">
        <label for="">Número da sua CNH</label>
        <span class="d-block text-offset small">
          <strong class="text-warning">Atenção:</strong>
          O número da CNH abaixo deve ser da mesma CNH cuja foto foi enviada na
          etapa anterior.
        </span>
      </div>
      <input
        formControlName="cnhNumber"
        type="text"
        class="form-control"
        placeholder="0000000000"
        imask="0000000000"
      />
    </div>
    <div class="container col">
      <label for="category" class="form-label">Categoria</label>
      <select
        formControlName="cnhCategory"
        id="category"
        class="form-select form-select-md"
      >
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
      </select>
    </div>
  </div>

  <div class="row mb-3">
    <div class="container">
      <div class="form-label">
        <label for="base-value" class="form-label">Valor base</label>
        <span class="d-block text-offset small">
          Esse será o valor inicial/mínimo cobrado pelos seus serviços.
        </span>
      </div>
      <div class="input-group">
        <span class="input-group-text">R$</span>
        <input
          formControlName="baseValue"
          type="number"
          class="form-control"
          id="base-value"
          placeholder="50"
        />
        <span class="input-group-text">,00</span>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="container">
      <div class="form-label">
        <label for="value-per-km" class="form-label">Valor por Km</label>
        <span class="d-block text-offset small">
          O preço do seu serviço é calculado a partir da soma entre o valor base
          e a distância em quilometros multiplicada pelo preço cobrado por Km.
        </span>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">R$</span>
        <input
          [formControl]="valuePerKmHelper"
          type="text"
          id="value-per-km"
          class="form-control"
          placeholder="05.50"
          imask="00.00"
        />
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="container">
      <label for="state" class="form-label">Estado atendido</label>
      <select
        formControlName="supportedState"
        id="state"
        class="form-select form-select-md"
        (change)="onSelect($event.target)"
      >
        <option *ngFor="let state of states" [value]="state.sigla">
          {{ state.nome }}
        </option>
      </select>
    </div>
  </div>

  <div class="row mb-3">
    <div class="container">
      <label for="state" class="form-label">Cidade atendida</label>
      <select
        [formControl]="supportedCitiesHelper"
        id="state"
        class="form-select form-select-md"
      >
        <option *ngFor="let city of cities" [value]="city.nome">
          {{ city.nome }}
        </option>
      </select>
    </div>
  </div>

  <h5 class="mt-4">Veículo</h5>
  <p class="text-offset small">
    Registre o veículo que será usado para prestar serviços
  </p>
  <div class="row mb-3">
    <div class="containter col">
      <label for="vehicle-category" class="form-label">
        Categoria do veículo
      </label>
      <select id="vehicle-category" class="form-select form-select-md">
        <option value="bike">Motocicleta</option>
        <option value="car">Carro</option>
        <option value="pickup">Caminhonete</option>
        <option value="van">Van ou Furgão</option>
        <option value="truck">Caminhão</option>
      </select>
    </div>
  </div>

  <div class="row mb-3">
    <div class="container">
      <label for="vehicle-model" class="form-label">Modelo do veículo</label
      ><input
        type="text"
        id="vehicle-model"
        class="form-control"
        placeholder="Fiat Fiorino 2023"
      />
    </div>
  </div>

  <div class="row mb-3">
    <div class="container">
      <div class="form-label">
        <label for="vehicle-photo">Foto do veículo</label>
        <span class="d-block text-offset small">
          Tire uma boa foto do seu veículo para cadastrá-lo. Essa foto será
          visível aos seus possíveis clientes dentro da plataforma
        </span>
      </div>
      <input type="file" id="vehicle-photo" class="form-control" />
    </div>
  </div>
</form>
