<div class="min-vh-100 bg-white-smoke">
  <div class="container p-3">
    <h1>Suas solicitações</h1>
  </div>
  <div class="container">
    <div class="table-responsive">
      <table class="table" style="white-space: nowrap">
        <thead>
          <tr>
            <th scope="col">Origem</th>
            <th scope="col">Destino</th>
            <th scope="col">Data</th>
            <th scope="col">Status</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>18176-923</td>
            <td>43871-321</td>
            <td>21/12/2023</td>
            <td>
              <span class="badge bg-warning">Aguardando confirmação</span>
            </td>
            <td class="d-flex gap-2">
              <button class="btn btn-danger">Cancelar</button>
              <button class="btn btn-success">Pagar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
