<section>
  <div
    class="min-vh-100 d-flex align-items-center text-center text-lg-start bg-white-smoke"
  >
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-7 mb-5 mb-lg-0">
          <h1 class="my-5 display-1 fw-bold ls-tight">
            Lorem ipsum dolor
            <span class="text-primary">sit amet</span>
          </h1>
          <p style="color: hsl(217, 10%, 50%)">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet,
            itaque accusantium odio, soluta, corrupti aliquam quibusdam tempora
            at cupiditate quis eum maiores libero veritatis? Dicta facilis sint
            aliquid ipsum atque?
          </p>
        </div>

        <div class="col-lg-5 mb-5 mb-lg-0">
          <div class="container bg-white rounded shadow-sm">
            <div class="card-body py-5 px-4">
              <h2>Bem vindo de volta!</h2>
              <p>É um prazer ver você por aqui novamente.</p>
              <form class="my-5">
                <div class="form-floating mb-3">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="name@example.com"
                  />
                  <label for="email">Email</label>
                </div>
                <div class="form-floating mb-3">
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    placeholder="name@example.com"
                  />
                  <label for="password">Senha</label>
                </div>

                <button class="btn btn-primary btn-lg w-100 mt-2">
                  Entrar
                </button>
              </form>

              <div class="row text-center g-0 w-100">
                <span> Não tem uma conta? </span>
                <a routerLink="/auth/register" class="link pointer"
                  >Cadastre-se</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
