<div
  class="min-h-screen bg-white-smoke d-flex flex-column align-items-center pb-5"
>
  <div class="container">
    <div class="text-center my-5">
      <h1 class="fw-bold mb-3">
        Cadastro para
        <span class="text-primary">profissionais e empresas</span>
        prestadores de serviços
      </h1>
      <p class="text-offset">
        Prossiga o cadastro por aqui <strong>apenas</strong> caso seu interesse
        seja em fornecer serviços de frete para clientes.
      </p>
    </div>

    <div class="row">
      <div
        class="col-lg-8 col-10 mx-auto bg-white rounded p-4 shadow-sm"
        [ngSwitch]="currentStep"
      >
        <mvf-registration-professional-info
          [professionalRegistrationForm]="professionalRegistrationForm"
          *ngSwitchCase="steps.UserRegistration"
        />
        <mvf-registration-professional-documents
          [professionalRegistrationForm]="professionalRegistrationForm"
          *ngSwitchCase="steps.DocumentsRegistration"
        />
        <mvf-registration-professional-business
          [states]="states$ | async"
          [cities]="cities$ | async"
          [isStateCityLoading]="isStateCityLoading$ | async"
          [professionalRegistrationForm]="professionalRegistrationForm"
          (getCities)="getCitiesByState($event)"
          *ngSwitchCase="steps.BusinessRegistration"
        />
        <!-- <mvf-registration-professional-review
          [professionalRegistrationForm]="professionalRegistrationForm"
          *ngSwitchCase="steps.ReviewData"
        /> -->

        <div class="d-flex justify-content-end gap-2">
          <button
            class="ml-auto btn btn-outline-primary"
            *ngIf="currentStep !== steps.UserRegistration"
            (click)="facade.returnToPreviousStep()"
          >
            Voltar
          </button>
          <button
            class="ml-auto btn btn-primary"
            *ngIf="currentStep !== steps.BusinessRegistration"
            (click)="facade.goToNextStep()"
          >
            Próximo
          </button>
          <button
            class="ml-auto btn btn-primary"
            *ngIf="currentStep === steps.BusinessRegistration"
            [disabled]="professionalRegistrationForm.invalid"
            (click)="finishRegistration()"
          >
            Finalizar
          </button>
        </div>
      </div>

      <div class="row text-center mt-5 g-0 w-100">
        <span> Já tem uma conta? </span>
        <a routerLink="/auth/login" class="link pointer">Voltar para Login</a>
      </div>
    </div>
  </div>
</div>
