<form
  class="d-flex flex-column justify-content-start"
  [formGroup]="professionalRegistrationForm"
>
  <div class="">
    <h3>Dados pessoais</h3>
    <p class="text-offset small">
      Antes de tudo, vamos começar conhecendo você. Cadastre aqui os seus dados
      pessoais, os dados da sua empresa serão cadastrados mais tarde.
    </p>
  </div>

  <div class="row mb-3">
    <div class="container col-12 mb-3">
      <label for="cpf" class="form-label">CPF</label>
      <input
        formControlName="cpf"
        imask="000.000.000-00"
        type="text"
        id="cpf"
        class="form-control"
        placeholder="000.000.000-00"
      />
    </div>
  </div>

  <div class="row mb-3">
    <div class="container col">
      <div class="form-label">
        <label for="preferredName">Nome público</label>
        <span class="d-block text-offset small">
          Esse é o nome que será exibido no seu perfil quando um cliente for te
          contratar. Não se preocupe, para questões legais o seu nome verdadeiro
          será usado.
        </span>
      </div>
      <input
        formControlName="preferredName"
        type="text"
        id="preferredName"
        class="form-control"
        placeholder="Seu nome visível a todos"
      />
    </div>
  </div>

  <div class="row mb-3">
    <div class="container col">
      <div class="form-label">
        <label for="phoneNumber">Número de telefone (WhatsApp)</label>
        <span class="d-block text-offset small">
          Esse número será utilizado para que seus clientes entrem em contato
          com você. Preencha um número real e utilizado por você para atender
          clientes.
        </span>
      </div>
      <input
        formControlName="phoneNumber"
        type="text"
        id="phoneNumber"
        class="form-control"
        imask="(00) 00000-0000"
        placeholder="(00) 00000-0000"
      />
    </div>
  </div>
</form>
